.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: underline;
  }

  .keyboard-nav &:focus {
    outline: 1px solid var(--outline-focus);
  }
}
