<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap" rel="stylesheet">
  <title>Testovoe zadanie</title>
</head>

<body>
  <!-- HEADER -->
  <header class="header">
    <div class="hamburger">
      <svg>
        <use xlink:href="assets/img/sprite.svg#hamburger"></use>
      </svg>
    </div>
    <div class="logo"> <svg>
        <use xlink:href="assets/img/sprite.svg#logo"></use>
      </svg></div>

    <nav class="menu-list">
      <ul>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Технологии</a></li>
        <li><a href="#">Новости</a></li>
      </ul>
    </nav>
    <ul class="icons-block">
      <li class="lang"><a href="#">En</a></li>
      <li class="magnifying-glass">
        <a href="#">
          <svg>
            <use xlink:href="assets/img/sprite.svg#magnifying-glass"></use>
          </svg></a></li>
      <li class="envelope"><a href="#"><svg>
            <use xlink:href="assets/img/sprite.svg#envelope"></use>
          </svg></a></li>
    </ul>
  </header>
  <!-- MAIN -->
  <main>
    <h1>Высокотехнологичная <span>IT-Компания</span></h1>
    <div class="main-text-block">
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
        laoreet.
        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
        vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
    </div>
    <button><a href="#">Перейти</a></button>
    <div class="spinner">
      <div class="spinner-bones">
        <img src="assets/img/gazella.png" alt="">
        <div class="slider-dot dot-router"><svg>
            <use xlink:href="assets/img/sprite.svg#connect"></use>
          </svg></div>
        <div class="slider-dot dot-android"><svg>
            <use xlink:href="assets/img/sprite.svg#android"></use>
          </svg></div>
        <div class="slider-dot dot-mail"><svg>
            <use xlink:href="assets/img/sprite.svg#envelope-dot"></use>
          </svg></div>
        <div class="slider-dot dot-map"><svg>
            <use xlink:href="assets/img/sprite.svg#map-marker"></use>
          </svg></div>
        <div class="slider-dot dot-phone"><svg>
            <use xlink:href="assets/img/sprite.svg#phone"></use>
          </svg></div>
        <div class="slider-dot dot-men"><svg>
            <use xlink:href="assets/img/sprite.svg#users"></use>
          </svg></div>
        <div class="slider-dot dot-case"><svg>
            <use xlink:href="assets/img/sprite.svg#case"></use>
          </svg></div>
        <div class="slider-dot dot-wifi"><svg>
            <use xlink:href="assets/img/sprite.svg#wifi"></use>
          </svg></div>
      </div>
    </div>
    <div class="bottom-text">
      <div>I</div>
      <div>T</div>
      <div>-</div>
      <div>К</div>
      <div>О</div>
      <div>М</div>
      <div>П</div>
      <div>А</div>
      <div>Н</div>
      <div>И</div>
      <div>Я</div>
    </div>
  </main>
  <!-- TABS -->
  <div class="tabs-screen">
    <div class="tab-item tab-item-1 tab-item-active"><a href="#" class="tab-item-link tl-1"></a>Разработка</a></div>
    <div class="tab-item tab-item-2"><a href="#" class="tab-item-link tl-2">Digital</a></div>
    <div class="tab-item tab-item-3"><a href="#" class="tab-item-link tl-3">Продукты</a></div>
    <div class="tab-item tab-item-4"><a href="#" class="tab-item-link tl-4">IT-Аутсорсинг</a></div>
    <div class="tab-content tab-content-1">Информационные системы&nbsp;и&nbsp;заказное ПО</div>
    <div class="tab-content tab-content-2">Корпоративные внутренние&nbsp;порталы</div>
    <div class="tab-content tab-content-3">Вебсайты</div>
    <div class="tab-content tab-content-4">Мобильные приложения</div>
  </div>
  <!-- TECHNOLOGIES -->
  <div class="technologies-screen">
    <h2>Технологии, методологии и инструменты</h2>
    <ul class="tech-list">
      <li class="tech-list-item">PHP</li>
      <li class="tech-list-item">C#.NET</li>
      <li class="tech-list-item">DIGITAL</li>
      <li class="tech-list-item">МЕТОДОЛОГИИ</li>
      <li class="tech-list-item">ДИЗАЙН</li>
      <li class="tech-list-item tech-list-item-long">АНАЛИТИКА И ПРОТОТИПИРОВАНИЕ</li>
      <li class="tech-list-item">ТЕСТИРОВАНИЕ</li>
    </ul>
    <div class="tech-content">
      <div class="tech-content-row">
        <div class="content-row-header">Клиентская сторона</div>
        <div class="content-row-subtext">— HTML5, CSS, JQUERY, NGINX</div>
        <div class="content-row-icons">
          <div class="html5">
            <svg>
              <use xlink:href="assets/img/sprite.svg#html5"></use>
            </svg>
          </div>
          <div class="css3">
            <svg>
              <use xlink:href="assets/img/sprite.svg#css3"></use>
            </svg>
          </div>
          <div class="jQuery">
            <img src="assets/img/jQuery.png" alt="">
          </div>
          <div class="nginx">
            <svg>
              <use xlink:href="assets/img/sprite.svg#nginx"></use>
            </svg></div>
        </div>
      </div>
      <div class="tech-content-row">
        <div class="content-row-header">Программно-Аппаратная часть</div>
        <div class="content-row-subtext">— PHP</div>
        <div class="content-row-icons">
          <div class="php">
            <svg>
              <use xlink:href="assets/img/sprite.svg#php"></use>
            </svg></div>
        </div>
      </div>
      <div class="tech-content-row">
        <div class="content-row-header">СУБД</div>
        <div class="content-row-subtext">— MYSQL, POSTGRESQL</div>
        <div class="content-row-icons">
          <div class="mysql">
            <svg>
              <use xlink:href="assets/img/sprite.svg#mysql"></use>
            </svg></div>
          <div class="postgresql">
            <img src="assets/img/postgresql.png" alt="">
          </div>
        </div>
      </div>
      <div class="tech-content-row">
        <div class="content-row-header">Операционная система</div>
        <div class="content-row-subtext">— WINDOWS, LINUX</div>
        <div class="content-row-icons">
          <div class="windows">
            <svg>
              <use xlink:href="assets/img/sprite.svg#windows"></use>
            </svg></div>
          <div class="linux">
            <svg>
              <use xlink:href="assets/img/sprite.svg#linux"></use>
            </svg></div>
        </div>
      </div>
      <div class="tech-content-row">
        <div class="content-row-header">Поиск</div>
        <div class="content-row-subtext">— SPHINX</div>
        <div class="content-row-icons">
          <div class="sphinx">
            <img src="assets/img/sphinx.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PROJECTS AND CLIENTS -->
  <div class="projects-and-clients">
    <div class="pac-tabs">
      <div class="project-tab">Проекты</div>
      <div class="clients-tab">Клиенты</div>
    </div>
    <div class="pac-content">
      <div class="project-content">
        <div class="project-view">
          <img src="assets/img/project-view.png" alt="">
        </div>
        <div class="project-description">
          <div class="project-desc-header">Развитие портала открытых данных России</div>
          <div class="project-desc-customer">Минэкономразвития России</div>
          <p class="project-desc-text">Междисциплинарная многопрофильная олимпиада "Технологическое предпринимательство"
            - мероприятие, направленное на выявление и поддержку старшеклассинков, интересующихся инженерным творчеством
            и планирующих создавать инновационные стартап-проекты, стать частью команд крупного бизнеса или посвятить
            жизнь прикладным исследованиям.
            <ol class="project-desc-list">
              <li>Анализ требований и проектирование</li>
              <li>Реализация и тестирование</li>
              <li>Внедрение и сопровождение</li>
              <li>Реализация и тестирование</li>
              <li>Внедрение и сопровождение</li>
            </ol>
          </p>
          <div class="project-description-icons-block">
            <div class="jQuery">
              <img src="assets/img/jQuery.png" alt="">
            </div>
            <div class="php">
              <svg>
                <use xlink:href="assets/img/sprite.svg#php"></use>
              </svg></div>
            <div class="sphinx">
              <img src="assets/img/sphinx.png" alt="">
            </div>
            <div class="html5">
              <svg>
                <use xlink:href="assets/img/sprite.svg#html5"></use>
              </svg>
            </div>
            <div class="css3">
              <svg>
                <use xlink:href="assets/img/sprite.svg#css3"></use>
              </svg>
            </div>
          </div>
          <button class="project-desc-more-button"><a href="#">Подробнее</a></button>
        </div>
      </div>
    </div>
  </div>
  <!-- NEWS AND ARTICLES -->
  <h2 class="news-and-articles-header">Новости и статьи</h2>
  <div class="news-and-articles">
    <div class="bubble-block bubble-block-1">
      <div class="bubble-date">20 окт 2019</div>
      <div class="bubble-tag">#Digital</div>
      <div class="bubble-header">Успешный старт кампании "Технологическое предпринимательство" сезона 2019.2020</div>
      <div class="bubble-text">Междисциплинарная многопрофильная олимпиада «Технологическое предпринимательство» –
        мероприятие, направленное на выявление и поддержку старшеклассников, интересующихся инженерным творчеством и
        планирующих создавать инновационные стартап-проекты, стать частью команд крупного бизнеса или посвятить жизнь
        прикладным исследованиям.</div>
    </div>
    <div class="bubble-block bubble-block-2">
      <div class="bubble-date">20 окт 2019</div>
      <div class="bubble-tag">#Вакансии</div>
      <div class="bubble-header">Успешный старт кампании "Технологическое предпринимательство" сезона 2019.2020</div>
      <div class="bubble-text">Междисциплинарная многопрофильная олимпиада «Технологическое предпринимательство» –
        мероприятие, направленное на выявление и поддержку старшеклассников</div>
    </div>
    <div class="bubble-block bubble-block-3">
      <div class="bubble-date">20 окт 2019</div>
      <div class="bubble-tag">#Вакансии</div>
      <div class="bubble-header">Запуск cron внутри Docker-контейнера</div>
      <div class="bubble-text">Мы заключили новый контракт с нашим уже не новым клиентом – Акционерным обществом
        «Атомэнергоремонт» на оказание услуг по ремонту оргтехники. АО «Атомэнергоремонт» (дочернее общество АО «Концерн
        Росэнергоатом»).</div>
    </div>
    <div class="bubble-block bubble-block-4">
      <div class="bubble-date">20 окт 2019</div>
      <div class="bubble-tag">#Вакансии</div>
      <div class="bubble-header">RuNetSoft – лидер продаж в «1С-Битрикс24: Коробочная версия»</div>
      <div class="bubble-text">Приятная новость на этой неделе. RuNetSoft вошел в число лидеров продаж «1С-Битрикс24:
        Коробочная версия» по итогам апреля 2018 года и занял второе место по России!</div>
    </div>
    <div class="bubble-block bubble-block-5">
      <div class="bubble-date">20 окт 2019</div>
      <div class="bubble-tag">#Вакансии</div>
      <div class="bubble-header">Запуск cron внутри Docker-контейнера</div>
      <div class="bubble-text"></div>
    </div>
    <div class="bubble-block bubble-block-6">
      <div class="bubble-date">20 окт 2019</div>
      <div class="bubble-tag">#Вакансии</div>
      <div class="bubble-header">Ищем гуру PHP!</div>
      <div class="bubble-text"></div>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer-top">
      <div class="footer-block company">
        <div class="footer-block-header">Компания</div>
        <ul class="footer-block-list">
          <li><a href="#">Чем мы дышим</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Отзывы СМИ</a></li>
          <li><a href="#">Команда</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="footer-block competence">
        <div class="footer-block-header">Компетенции</div>
        <ul class="footer-block-list">
          <li><a href="#">Технологии</a></li>
          <li><a href="#">Сертификаты</a></li>
          <li><a href="#">Дипломы</a></li>
          <li><a href="#">Интернет-решение 1С Битрикс</a></li>
        </ul>
      </div>
      <div class="footer-block carier">
        <div class="footer-block-header">Карьера</div>
        <ul class="footer-block-list">
          <li><a href="#">Вакансии</a></li>
          <li><a href="#">Стажировка</a></li>
        </ul>
      </div>
      <div class="footer-block services">
        <div class="footer-block-header">Услуги</div>
        <ul class="footer-block-list">
          <li><a href="#">Разработка</a></li>
          <li><a href="#">Продвижение</a></li>
          <li><a href="#">IT-аутсорсинг</a></li>
          <li><a href="#">Автоматизация</a></li>
        </ul>
      </div>
      <ul class="footer-last-block">
        <li><a href="">Проекты</a></li>
        <li><a href="">Сотрудничество</a></li>
        <li><a href="">Отзывы</a></li>
        <li><a href="">Сертификаты</a></li>
      </ul>
      <address class="footer-contacts-block">
        <a class="phone-number" href="tel:88003339239">8-800-333-92-39</a>
        <a class="email" href="mailto:mailbox@runetsoft.ru">mailbox@runetsoft.ru</a>
        <div class="telegram">(или напишите нам в <a class="telegram-link"
            href="tg://resolve?domain=@teteetetassdsdfs">Telegram</a>)</div>
        <div class="social-block">
          <div class="instagram">
            <svg>
              <use xlink:href="assets/img/sprite.svg#instagram"></use>
            </svg>
          </div>
          <div class="linkedin">
            <svg>
              <use xlink:href="assets/img/sprite.svg#linkedin"></use>
            </svg>
          </div>
          <div class="class">
            <svg>
              <use xlink:href="assets/img/sprite.svg#class"></use>
            </svg>
          </div>
          <div class="youtube">
            <svg>
              <use xlink:href="assets/img/sprite.svg#youtube"></use>
            </svg>
          </div>
          <div class="facebook">
            <svg>
              <use xlink:href="assets/img/sprite.svg#facebook"></use>
            </svg>
          </div>
          <div class="vk">
            <svg>
              <use xlink:href="assets/img/sprite.svg#vk"></use>
            </svg>
          </div>
        </div>
      </address>
    </div>
    <div class="footer-bottom">
      <div class="footer-logo"><img src="assets/img/logo.png" alt=""></div>
      <small class="copyright">2008-2020 "РуНетСофт"</small>
      <div class="terms-of-use"><a href="#" class="terms">Пользовательское соглашение</a><a href="#"
          class="conformity">Оценка соответсвия условий труда</a></div>
      <button class="call-request">Заказать звонок</button>
    </div>
  </footer>
</body>
<script src="assets/js/main.js" ></script>
</html>
