header {
  background: rgb(31, 40, 69);
  background: linear-gradient(90deg, rgba(31, 40, 69, 1) 0%, rgba(54, 29, 100, 1) 50%, rgba(150, 20, 69, 1) 100%);
  // height: 100px;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 80px;
  grid-template-areas:
    "hamburger logo nav icons";
}

.hamburger {
  grid-area: hamburger;
  cursor: pointer;
  margin-left: @main-side-margin;

  svg {
    fill: white;
    height: 30px;
    width: 40px;
  }
}

.logo {
  grid-area: logo;

}

.menu-list {
  grid-area: nav;
}

.icons-block {
  grid-area: icons;
}

.menu-list>ul,
.icons-block {
  list-style: none;
  .row-flex();
}

.menu-list a,
.icons-block a {
  text-decoration: none;
}

.menu-list a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.lang>a {
  font-size: 9px;
  background-color: #E31E24;
  color: white;
  text-transform: uppercase;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.magnifying-glass svg {
  width: 20px;
  height: 20px;
}

.envelope svg {
  width: 20px;
  height: 20px;
}

.menu-list>ul {
  justify-content: space-between;
  padding: 0;
}

.menu-list>ul>li {
  margin: 0 20px;
}

.icons-block>li {
  margin: 0 10px;
}

.icons-block {
  margin-right: @main-side-margin;
}

@media (max-width: 1200px) {
  .menu-list {
    display: none;
  }

  .header {
    grid-template-columns: 150px 1fr 1fr;
    grid-template-areas:
      "hamburger logo icons";
  }

  .logo {
    justify-self: start;
  }

  .icons-block {
    justify-self: end;
  }
}

@media (max-width: 750px) {
  .header {
    grid-template-columns: auto 200px auto;
  }

  .logo {
    margin-left: -70px;
    padding-left: 20px;
  }
}