.projects-and-clients {
    background-color: #F3FAFF;
    padding: 50px;
    .column-flex();
    align-items: center;

}

.pac-tabs {
    margin-bottom: 50px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "project client";
    cursor: pointer;

    div {
        font-size: 42px;
        font-weight: 600;
        color: black;
        position: relative;

        &:after {
            content: url('../img/black-bottom.png');
            position: absolute;
            top: 20px;
            left: 0;
        }
    }
}

.project-tab{
    grid-area: project;
    place-self: center center;
    margin-left: @main-side-margin;
}

.clients-tab {
    grid-area: client;
    place-self: center center;
    margin-right: @main-side-margin;
}

.pac-content {
    height: 840px;
    width: 1177px;
}

.project-content {
    background-image: url("../img/substrate.png");
    height: 840px;
    width: 1177px!important;
    // margin: 0 auto;
    // .row-flex();
    // justify-content: center;
    // align-items: center;
    display: grid!important;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "view desc";
}

// Arrow margin
@am: 5px;

.gallery-arrow.mod-prev {
//   left: @am;
  //border-radius: 0 4px 4px 0;
}

.gallery-arrow.mod-next {
//   right: @am;
  //border-radius: 4px 0 0 4px;
}

.mod-next,
.mod-prev {
  transform: translateY(-50%);
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 50px;
  height: 30px;

  &:hover {
      color: grey;
  }
}

.mod-next {
    top: 50%;
    right: -55px;
}

.mod-prev {
    top: 50%;
    left: -55px;
}

.project-view {
    width: 350px;
    margin-left: 100px;
    grid-area: view;
    place-self: center center;
}

.slick-dots li button:before{
    font-size: 60px;
}

.slick-dots li.slick-active button:before {
    color: #E31E24 !important;
}

.project-description {
    width: 80%;
    grid-area: desc;
    place-self: center start;
    margin-left: 50px;
    margin-top: 50px;
}

.project-description-icons-block {

    .row-flex();
    margin-left: -20px;

    div {
        margin-left: 20px;
    }

    svg {
        @s: 40px;
        width: @s;
        height: @s;
    }
}

.project-desc-list {
    padding-left: 15px;
    line-height: 33px;
    margin-bottom: 30px;
}

.project-desc-header {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 40px;
}

.project-desc-customer,
.project-desc-text {
    font-size: 16px;
    line-height: 33px;
    font-weight: 400;
}

.project-desc-customer {
    margin-bottom: 20px;
}

.project-desc-more-button {
    color: white;
    font-weight: 700;
    font-size: 14px;
   padding: 10px 40px;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    z-index: 5;

    a{
        text-decoration: none;
        color: inherit;
        position: absolute;
        top: 20px;
        right: 60px;
        z-index: 5;

    }

    &:after {
        content: url('../img/more-button.png');
        position: relative;
        z-index: 1;
    }

    &:hover {
        &:after {
            content: url('../img/more-button-hover.png');
        }
    }
}

@media (max-width: 1300px) {
    .pac-content {
    }
}

@media (max-width: 1270px) {
    .project-content {
        background-image: unset;
        background-color: white;
        border-radius: 20%;
        box-shadow: 0 5px 32px 7px rgba(79, 79, 79, 0.1);
        width: auto!important;
        margin: 0 @main-side-margin;
    }

    .project-desc-header {
        margin-top: 50px;
    }
}

@media (max-width: 1030px) {
    .project-desc-text {
        line-height: 25px;
    }

}

@media (max-width: 900px) {

    .pac-tabs {
        margin-bottom: 20px;
    }

    .project-tab {
        font-size: 26px !important;
        &:after {
            content: ""!important;
        }
    }

    .news-and-articles-header {
        padding-top: 30px!important;
    }

    .clients-tab {
        display: none;
    }

    .project-content {
        background-color: unset;
        box-shadow: unset;
        height: auto;
    }

    .project-view {
        display: none;
    }

    .project-desc-header {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .project-description {
        width: 100%;
    }

    .project-desc-customer {
        text-align: center;
        margin-bottom: 10px;
    }

    .project-desc-more-button {
    }
}